.hero-img img {
  width: 100%;
}
h1 {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
main {
  padding-top: 5rem;
  overflow: hidden;
}
.desktop-error {
  display: none;
}
.error {
  margin-top: 0.5rem;
  font-size: 13px;
  color: red;
  font-weight: 800;
}
h1,
.hero-txt {
  text-align: center;
}
.txt-p {
  margin-top: 1rem;
}
.partners {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
.partners img {
  margin-left: 1rem;
}
.hero-txt,
.what,
.futures,
.register,
.blogs,
.footer {
  padding: 1.5rem;
}
.hero form {
  margin-top: 2rem;
}
.hero-form {
  display: flex;
  flex-direction: column;
}
.users {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
}
input {
  height: 3.5rem;
  outline: 0;
  border: 0;
  background: #052d56;
  border-radius: 5px;
  padding: 1rem;
}
.hero-btn {
  margin-top: 0.5rem;
}
.hero button{
  width: 100%;
  height: 50px;
  background: #ff4820;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
.hero-btn button:hover {
  background: transparent;
  border: 3px solid #ff4820;
}
.what,
.futures,
.possible,
.register,
.blogs,
footer {
  margin-top: 3rem;
}
.what-inner,
.register-inner {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.what strong{
  margin-left: 0.5rem;
}
.what .ans1,
.ans2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ans2,
.ans3 {
  margin-top: 3rem;
}
.sub {
  margin-top: 1rem;
}
.h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 2rem;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ans2 a,
.future1 a,
.possible a {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #ff8a71;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
@keyframes hover {
  from {
    border-bottom: 0;
  }
  to {
    border-bottom: 100%;
  }
}

.ans2 a:hover,
.future1 a:hover,
.possible a:hover {
  border-bottom-style: solid;
  width: fit-content;
  border-bottom-color: #ff8a71;
  animation: hover 0.3s;
}

.ans1 p {
  margin-top: 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;
}
.ans1 h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: -0.04em;
  line-height: 3rem;
}
.ans3 div:first-child {
  margin-top: 0;
}
.future2 .future {
  margin-top: 1.5rem;
}
.f-a {
  margin-top: 1.5rem;
}
.future2 {
  margin-top: 2rem;
}
.future2 .future:first-of-type {
  margin-top: 0;
}
.img-possible img {
  width: 100%;
}
.img-possible {
  padding-right: 2rem;
}
.possible-txt {
  padding: 1.5rem;
}
.possible-txt p {
  margin-top: 0.5rem;
}
.register-inner {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rg2 button {
  background: #000000;
  border-radius: 40px;
  width: 150px;
  height: 50px;
  font-weight: 700;
}
.rg2 button:hover {
  background: transparent;
  border: 2px solid #000000;
  color: #000000;
}
.rg1 h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.rg1 a {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
  color: #0e0e0e;
}
.rg2 {
  margin-top: 1rem;
  overflow: hidden;
  width: 100%;
}
.blogs-cont {
  padding-top: 1rem;
}
@media screen and (min-width: 728px) {
  h1,
  .hero-txt {
    text-align: left;
  }
  main {
    padding-top: 6rem;
  }
  .hero-img img {
    width: 100%;
  }
  .hero-img {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-txt {
    grid-area: txt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .hero {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 1rem;
    grid-template-areas: "txt img";
  }
  .hero,
  .what,
  .futures,
  .possible,
  .register,
  .blogs,
  .footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  h1 {
    font-style: normal;
    font-size: 2rem;
    /* line-height: 2.5rem; */
    font-weight: 800;
  }
  .hero form {
    width: 100%;
  }
  .txt-p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: #81afdd;
    margin-top: 0.5rem;
    padding-right: 1rem;
  }
  .hero button {
    width: 150px;
    height: 50px;
  }
  input {
    height: 4rem;
  }
  .hero form {
    margin-top: 1rem;
  }
  .hero-form {
    display: flex;
    flex-direction: column;
  }
  .what strong{
    margin-left: 1rem;
  }
  .users {
    flex-direction: row;
    margin-top: 1rem;
  }
  .users-img {
    display: flex;
    align-items: center;
    width: 30%;
  }
  .users-img img {
    transform: translateX(-50%);
  }
  .users-img img:nth-child(3) {
    transform: translateX(-100%);
  }
  .users-img img:nth-child(4) {
    transform: translateX(-150%);
  }
  .users-img img:nth-child(5) {
    transform: translateX(-200%);
  }
  .users-img img:nth-child(6) {
    transform: translateX(-250%);
  }
  .users-img img:first-child {
    transform: translateX(0);
  }
  .users p {
    width: 100%;
    padding-left: 0.5rem;
  }
  .partners {
    margin-top: 4rem;
    width: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .partners .img {
    margin-left: 1.5rem;
  }
  .what-inner,
  .register-inner {
    padding: 1.5rem;
  }
  .what .ans1 {
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: left;
    align-items: unset;
  }
  .ans1 p {
    margin-top: 1.5rem;
  }
  .head {
    display: block;
  }
  .what .ans2 {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .sub {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .ans1 h4 {
    line-height: 2.5rem;
  }
  .h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .sub {
    margin-top: 0;
  }
  .ans2 a,
  .future1 a {
    font-size: 16px;
    line-height: 30px;
  }
  .ans3 {
    display: grid;
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  .ans3 div {
    margin-top: 0;
  }
  .futures-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .future1 {
    margin-top: 0.5rem;
  }
  .future1 .f-a {
    margin-top: 2rem;
  }
  .future2 {
    margin-top: 0;
  }
  .future1 h3 {
    padding-right: 1rem;
  }
  .future2 .future {
    margin-top: 1rem;
  }
  .future2 .future:first-of-type {
    margin-top: 0;
  }
  .possible {
    margin-top: 3rem;
  }
  .possible-inner {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .possible-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .possible-txt .h3 {
    margin-top: 1rem;
  }
  .possible-txt p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #81afdd;
    margin-top: 1rem;
  }
  .img-possible {
    padding-right: 0;
  }

  .rg1 h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .rg1 a {
    font-size: 12px;
    line-height: 30px;
  }
  .blogs-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 4rem;
    padding-top: 0;
  }
  .blogs-cont .blog:first-of-type {
    grid-row: 1/3;
  }
}
@media screen and (min-width: 820px) {
  h1 {
    font-size: 2.5rem;
  }
  .hero {
    grid-template-columns: 60% 40%;
  }
}
@media screen and (min-width: 998px) {
  .hero,
  .what,
  .futures,
  .possible,
  .register,
  .blogs,
  .footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  h1 {
    line-height: 75px;
    font-size: 4rem;
  }
  .hero {
    grid-template-columns: 1fr 1fr;
  }
  .txt-p {
    font-size: 1.2rem;
    line-height: 27px;
    margin-top: 2rem;
  }
  .hero form {
    margin-top: 2rem;
  }
  .hero-form {
    flex-direction: row;
  }
  input {
    width: 400px;
    padding: 1rem;
    border-radius: 5px 0px 0px 5px;
  }
  .hero-btn {
    margin-left: 1rem;
    margin-top: 0;
  }
  .hero button {
    width: 150px;
    height: 4rem;
    background: #ff4820;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    /* font-size: 18px; */
    line-height: 25px;
  }
  .mobile-error {
    display: none;
  }
  .desktop-error {
    display: block;
  }
  .users {
    margin-top: 3rem;
  }
  .users-img {
    width: 20%;
  }
  .partners img {
    margin-left: 2rem;
  }
  .what,
  .futures,
  .possible,
  .register,
  .blogs,
  footer {
    margin-top: 8rem;
  }
  .what-inner,
  .possible-inner,
  .register-inner {
    padding: 3rem;
  }
  .what .ans1 {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .ans1 p {
    margin-top: 3rem;
  }
  .ans1 h4 {
    line-height: 75px;
  }
  .ans2,
  .ans3 {
    margin-top: 5rem;
  }
  .h3 {
    font-size: 34px;
    line-height: 45px;
    padding-right: 8rem;
  }
  .future1 h3 {
    padding-right: 10rem;
  }
  .possible-txt .h3 {
    padding-right: 3rem;
    margin-top: 1.5rem;
  }
  .possible-txt p {
    margin-top: 1.5rem;
  }
  .possible-txt .f-a:nth-of-type(2) {
    margin-top: 2rem;
  }
  .register-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .rg2 {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 0;
  }
  .rg1 h4 {
    font-size: 24px;
    line-height: 45px;
  }
  .blogs h1 {
    line-height: 80px;
  }
  .blogs-cont {
    margin-top: 5rem;
    grid-gap: 3rem;
  }
}
