
.desktop{
  display: none;
}
a{
  text-decoration: none;
}
.App{
  background: #040C18;
}

@media screen and (min-width: 728px) {
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
}
@media screen and (min-width: 998px) {
  
}